---
export const prerender = false;

import MainLayout from "../../layouts/MainLayout.astro";
import type { Character } from "../../interfaces/rick-and-morty";

const { id } = Astro.params;

const response = await fetch(`https://rickandmortyapi.com/api/character/${id}`);

if (!response.ok) {
  throw new Error("No se pudo obtener el personaje");
}

const character = await response.json() as Character;
---
<MainLayout title={character.name}>
  <h1>{character.name}</h1>
  <div>
    <a href="/">Regresar</a>
    <img src={character.image} alt={character.name} />
    <p>{character.species}</p>
    <p>{character.status}</p>
  </div>
</MainLayout>